<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246319886572-mirfe54ac0mmgih3ppvcitifkjkr4uaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246319886572-mirfe54ac0mmgih3ppvcitifkjkr4uaf</string>
	<key>API_KEY</key>
	<string>AIzaSyB9QfKZDlcDElomRA95qjTom2NiGq8VXV8</string>
	<key>GCM_SENDER_ID</key>
	<string>246319886572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drugInventoryAndSupplyChain</string>
	<key>PROJECT_ID</key>
	<string>drug-inventory-and-supply</string>
	<key>STORAGE_BUCKET</key>
	<string>drug-inventory-and-supply.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246319886572:ios:8d270db2c4c2a931b775c9</string>
</dict>
</plist>